<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
        
        <!--==================== SWIPER CSS====================-->
        <link rel="stylesheet" href="../static/swiper-bundle.min.css">

        <!--==================== CSS ==========-->
        <link rel="stylesheet" href="../static/style.css">

        <title>Hello I'm Jorge</title>
    </head>
<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Jorge Garciadiego</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> About
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i> Skills
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#qualification" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i> Qualification
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#experience" class="nav__link">
                            <i class="uil uil-briefcase-alt nav__icon"></i> Experience
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#portfolio" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i> Portfolio
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <i class="uil uil-message nav__icon"></i> Contactme
                        </a>
                    </li>

                </ul>
                
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!-- Theme change button -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}

    {% endblock %}
    
    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Jorge</h1>
                    <span class="footer__subtitle">Economist and Programmer</span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#experience" class="footer__link">Experience</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer__link">Portfolio</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer__link">Contactme</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="https://www.linkedin.com/in/jorge-garciadiego-6a718449/?locale=en_US" target="_blank" class="footer__social">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>
                    <a href="https://github.com/jorge-garciadiego" target="https://github.com/jorge-garciadiego" class="footer__social">
                        <i class="uil uil-github-alt"></i>                            
                    </a>
                    <a href="https://twitter.com/" target="https://twitter.com/igarciadiego" class="footer__social">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
            </div>

            <!-- <p class="footer__copy">&#169; Bedimcode. All right reserved</p> -->
        </div>
    </footer>

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrollup" id="scroll-top">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>
    <!--==================== SWIPER JS ====================-->
    <script src="../static/js/swiper-bundle.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>